// font-family: 'Roboto', sans-serif;
// font-family: 'Playfair Display', serif;
// font-family: 'Hammersmith One', sans-serif;

$bluegreen: #00e0d0;
$texth: #413d4b;


$roboto: 'Roboto', sans-serif;
$Playfair:'Playfair Display', serif;
$Hammersmith:'Hammersmith One', sans-serif;